// Mixins in here
.flexed(@j:center, @a:center){
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.button-style(@color, @background){
    color: @color;
    background-color: @background;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 18px;
    width: 75%;
}