// Mixins in here
.flexed(@j: center, @a: center) {
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.button-style(@color, @background) {
    color: @color;
    background-color: @background;
    border-radius: 10px;
    font-size: 18px;
    width: 75%;
    padding: 8px;

    &:hover {
        background-color: lighten(@button-bg, 5%);
    }
}

.media-width(@width, @margin){
    max-width: @width;
    margin: @margin;
}
