// Navigation Styles here
.main-nav {
    .flexed(space-between, center);
    padding: 25px 75px;
    border-bottom: 2px dashed @navigation-border;

    .header-img{
        width: 40%;
    }

    .top-nav{
        width: 40%;
        .flexed(space-around, center);
        a {
            font-size: 16px;
        }
    }
}