// Navigation Styles here
.main-nav {
    .flexed(space-between, center);
    padding: 25px 10%;
    .border-bottom();

    @media @mobile {
        .media-width(450px, 0);
        .flexed(center, center);
        flex-direction: column;
    }

    .header-img{
        width: 40%;
        }

        @media @mobile {
            width: 100%;
            align-self: center;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 3%;
            }
        }
    

    .top-nav{
        width: 40%;
        .flexed(space-around, center);
        a {
            font-size: 1.6rem;
        }

        @media @mobile {
            width: 100%;
            justify-content: space-around;
        }
    }
}